header {
    background-color: #5C996E;
    text-emphasis-color: white;
}
.logo-img{
    padding: 5px;
}
nav{
    text-align: center;
    text-emphasis-color: #000501;
    padding: 15px;
    font-size: x-large;
}
nav a:hover {
    background-color: white;
    padding: 10px;
}
h1{
    padding-left: 35%;
    font-size: xx-large;
}
p{
    width: 900px;
    font-size: large;
    padding-left: 30%;
}

footer{
    background-color: #99D19C;
}
.footnav{
    text-align: center;
}
.image-one{
    object-fit: cover;
}
.image-two{
    padding-left: 25%;
}