header {
    background-color: #5C996E;
    text-emphasis-color: white;
}
.logo-img{
    padding: 5px;
}
a{
    color: black;
}
nav{
    text-align: center;
    text-emphasis-color: white;
    padding: 15px;
    font-size: x-large;
    font-family: "Victor Mono", monospace;
}
nav a:hover {
    background-color: lightslategray;
    padding: 10px;
    color: white;
}
h1{
    padding-left: 35%;
    font-size: xx-large;
    font-family: "Victor Mono", monospace;
}
p{
    width: 900px;
    font-size: large;
    padding-left: 30%;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;

}

footer{
    background-color: #99D19C;
}
.footnav{
    text-align: center;
    font-family: "Victor Mono", monospace;
}
.image-one{
    object-fit: cover;
}
.image-two{
    padding-left: 25%;
}